{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
                <th>Isbn</th>
                <th>Price</th>
                <th>Pages</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.price }}€</td>
                <td>{{ book.pages }}</td>
                <td>{{ book.description }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">Voir</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
